@page "/"
@inject IJSRuntime _jsruntime

<h1>Hello, world!</h1>

Welcome to your new app.

<form>
    <div id="myCaptcha"></div>
</form>
<SurveyPrompt Title="How is Blazor working for you?" />

@code{ 
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsruntime.InvokeVoidAsync("loadCaptcha");
    }
}
